.mainAbout {
  width: 100%;
  z-index: 2000;
  display: flex;
}
.main {
  z-index: 2000;
  padding: 40px;
  text-align: center;
}
.left {
  z-index: 2000;
  width: 50%;
  position: relative;
  height: auto;
}
.left * {
  text-align: left;
  position: relative;
  top: 50%;
  left: 25%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%); 
}
.right {
  z-index: 2000;
  text-align: left;
  width: 50%;
}
@media (max-width: 600px) {
  .mainAbout {
    display: block;
  }
  .left * {
    text-align: center;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

.right h3 {
  margin-bottom: 0em;
  text-align: center;
}
.right h2 {
  margin: 0px;
  color: #1a7cb5;
}
