.img {
    height: 100%;
}

.nav {
    top: 0px;
    padding: 10px;
    height: 65px;
    width: 100%;
    background-color: #1c1c1c;
    position: fixed;
    z-index: 1000;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.nav * {
    vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
}

.nav > .nav-header {
    display: inline;
}

.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
}

.display {
    display: none !important;
}

.nav > .nav-btn > label > span {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    opacity: 0.7;
}

.nav > .nav-btn > label {
    display: inline-block;
    padding: 8px;
    margin-right: 1em;
}

.nav > .nav-links {
    display: block;
    float: right;
    font-size: 18px;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.nav > .nav-links > li {
    padding: 13px 10px 13px 10px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.nav > .nav-links > li::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.nav > .nav-links > li:hover::after {
    width: 100%;
}

.nav > .nav-btn {
    display: inline-flex;
    vertical-align: middle;
    float: right;
    height: 100%;
    position: relative;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
}

.nav > .nav-btn > label > span {
    padding: 10px;
    transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    cursor: pointer;
}

.nav > .nav-btn > label > span:hover {
    opacity: 1;
}

@media (max-width: 600px) {
    .nav > .nav-links {
        position: absolute;
        display: block;
        width: 100%;
        background-color: #1c1c1c;
        height: 0px;
        overflow-y: hidden;
        top: 80px;
        left: 0px;
        transition: all 0.6s cubic-bezier(0.87, 0, 0.13, 1);
    }

    .nav > .nav-links > li {
        display: block;
        width: 100%;
    }

    .nav > .nav-links {
        height: 0px;
    }

    .nav > .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
}

.mainText {
    -webkit-animation: focus-in-contract-bck 2s cubic-bezier(1, 0, 0, 1) both;
    animation: focus-in-contract-bck 2s cubic-bezier(1, 0, 0, 1) both;
}

@-webkit-keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}

@keyframes focus-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(300px);
        transform: translateZ(300px);
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(12px);
        transform: translateZ(12px);
        -webkit-filter: blur(0);
        filter: blur(0);
        opacity: 1;
    }
}
