.main {
  background-color: #0008;
  padding: 40px;
  display: flex;
  justify-content: space-around;
}
.Title span {
  position: relative;
  padding-bottom: 5px;
}
.Title span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-bottom: 4px solid #1a7cb5;
  content: "";
}
.splitIconText {
  display: flex;
  align-items: center;
}
.splitIconText svg {
  margin-right: 1.5em;
}
.bulletList {
  align-items: stretch;
  list-style: none;
  padding: 0px;
}
.bulletList li {
  line-height: 3em;
}
.bulletList li::before {
  content: "\2022";
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
  color: #1a7cb5;
}
@media (max-width: 600px) {
  .main {
    display: block;
  }
  .lastRow {
    display: flex;
    flex-flow: column-reverse;
  }
  .LastLeft {
    float: none;
    text-align: center;
    align-self: center;
  }
  .LastRight {
    margin-bottom: 2em;
    float: none;
    text-align: center;
    align-self: center;
  }
}
.lastRow {
  padding: 40px;
}
.LastLeft {
  font-size: 0.7em;
  color: #bbb;
  float: left;
}
.LastRight {
  float: right;
}
.LastRight * {
  margin: 0px 4px;
}
.main a,
.lastRow a {
  text-decoration: none;
  color: #fff;
}

.main a:visited,
.lastRow a:visited {
  color: #bbb;
}
.buttons {
  display: flex;
}
.buttons * {
  cursor: pointer;
  padding: 5px;
}
.imgdiv {
  width: 100%;
  background-color: inherit;
  height: 50%;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  border-radius: 1em;
  transition: all 1s linear;
}
.imgdiv * {
  margin: auto;
  transition: all 1s linear;
}
.image {
  padding: 1em;
  border-radius: 1em;
  background-color: #fff;
  text-align: center;
  width: 5em;
  transition: all 1s linear;
}
